* {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  font-size: large;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(255, 255, 255, 0.884);
}
.main {
  background-color: rgb(17, 17, 19);
  color: rgb(22, 18, 18);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 3px solid orangered;
}
.main ul li {
  display: inline;
  padding: 15px;
  /* background-color: red; */
}
.main ul li a {
  color: rgb(245, 241, 241);
  text-decoration: none;
  border-radius: 40px;
  padding: 5px;
}
.main ul li a:hover {
  background-color: rgb(122, 122, 128);
}
.logo {
  max-width: 70px;
  height: auto;
}
.welcome h2 {
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.welcome p {
  margin: 10px;
}

/* Flex Container */
.flex-container {
  display: flex;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Text */
.text {
  flex: 1;
  background-color: #dbeafe;
  padding: 25px;
  border-radius: 8px;
  border-left: 5px solid #2563eb;
}

.text h2 {
  color: #1e40af;
  margin-top: 0;
  text-align: center;
}

.text-item p {
  color: #1e293b;
  line-height: 1.6;
}

/* Image */
.image-item {
  flex: 1;
}
.image-item h2 {
  color: #2c4cb6;
  margin-top: 0;
  text-align: center;
}
.get-touch {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  background-color: #f2f4f7;
  border-top: 3px solid rgb(92, 92, 224);
  border-radius: 8px;
}
.para {
  padding: 10px;
  margin: 10px;
}
.image-item {
  flex: 1;
  background-color: #dbeafe;
  padding: 25px;
  border-radius: 8px;
  border-right: 5px solid #2563eb;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.who-are h2 {
  text-align: center;
}

footer {
  background-color: #030d16;
  color: #ecf0f1;
  padding: 2rem 1rem;
  text-align: center;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.contact-item a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s;
}
.copyright {
  font-size: 0.9rem;
  color: #bdc3c7;
  padding-top: 1rem;
  border-top: 1px solid #34495e;
}
